@charset "UTF-8";
header {
  grid-area: header;
  /*Aumentar barra de pesquisa e colocar borda ao clicar*/
}
header .cabecalho {
  background-color: #fc8989;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 50px;
  padding: 0 125px;
  box-sizing: border-box;
}
header .top-left {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 25px;
}
header .top-left h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 900;
}
header .top-left form {
  position: relative;
}
header .top-left input {
  padding: 8px 15px;
  width: 180px;
  border: 0;
  border-radius: 6px;
  /*Aumentar barra de pesquisa de forma mais suave*/
  transition: width 0.2s ease-in;
}
header .top-left span {
  position: absolute;
  right: 7px;
  top: 8px;
}
header .top-left input:focus {
  width: 240px;
  outline: 3px solid #701534;
}
header .cabecalho .top-right {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  list-style-type: none;
  gap: 15px;
}
header .cabecalho .top-right a {
  color: #414141;
  font-weight: bolder;
  text-decoration: none;
  transition: all ease 0.2s;
}
header .cabecalho .top-right a:hover {
  color: white;
}
header .navegacao {
  height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 125px;
}
header .text-nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 10px;
}
header .text-nav a {
  text-decoration: none;
  color: gray;
}
header .text-nav li a:hover {
  transition: all ease 1s;
  color: white;
}
header .text-nav span {
  border-right: solid 1px gray;
  padding-right: 4px;
}

.icone-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 10px;
}

.icone-nav a {
  text-decoration: none;
  color: white;
  transition: all ease-in 0.2s;
}

.icone-nav a:hover {
  color: violet;
}

main {
  grid-area: container;
  display: fleX;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  gap: 30px;
  padding: 20px;
  margin-left: 125px;
}
main article {
  border: solid 1px rgba(128, 128, 128, 0.363);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 150px;
  height: 230px;
}
main article:hover {
  background-color: rgba(219, 219, 219, 0.644);
  transition: all ease-in 0.8s;
}
main article img {
  width: 100px;
  height: 100px;
  text-justify: center;
}
main article h3 {
  margin: 0;
  text-align: center;
}
main .old-value {
  margin: 0;
}
main .old-value s {
  font-size: 12px;
  text-align: center;
  color: gray;
}
main .new-value {
  font-weight: bolder;
  margin: 0;
}
main article div {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #eb1c23;
  width: 120px;
  height: 35px;
  cursor: pointer;
  border-radius: 6px;
}
main article button {
  border: none;
  box-shadow: none;
  cursor: pointer;
  width: 70px;
  height: 35px;
  padding: 10px 5px;
  color: #fff;
  background-color: #eb1c23;
  font-size: 16px;
  font-weight: bold;
}
main article div img {
  width: 25px;
  height: 30px;
  padding-top: 7px;
}
main article div:hover {
  filter: brightness(50%);
  transition: all ease 0.5s;
}

aside {
  grid-area: sidenav;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 125px;
  /*Escurecer apenas imagem, deixando texto escrito em  outra cor*/
}
aside .image-aside {
  height: 200px;
  background-image: url(../images/Mewtwo\ -\ aside.jpg);
  display: block;
  background-size: cover;
  background-position: center center;
  position: relative;
}
aside .image-aside::before {
  content: " ";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  position: absolute;
}
aside .image-aside > div {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: center;
  padding: 10px;
  width: 100%;
}
aside .image-aside h2 {
  margin: 0;
  font-size: 35px;
  color: white;
}
aside .image-aside p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 8px;
  color: white;
}
aside .cadastro {
  width: 100%;
  height: 200px;
  background-color: #e1e1e1;
  margin-top: 30px;
}
aside .cadastro h3 {
  text-align: center;
  margin-top: 50px;
}
aside .cadastro form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
aside .cadastro input {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  border: 0;
  border-radius: 6px;
}
aside .cadastro div {
  display: flex;
  justify-content: center;
  align-items: center;
}
aside .cadastro div button {
  cursor: pointer;
  width: 50%;
  margin: 0 10px;
  padding: 7px;
  background-color: #970f14;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 5px;
}

.better-pokemons {
  margin-top: 40px;
}

.better-pokemons h3 {
  margin: 0;
  border-bottom: solid 1px #DDD;
  padding: 10px 0px;
}

.better-pokemons ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.better-pokemons li {
  font-size: 18px;
  padding: 10px;
  display: flex;
  align-items: center;
  /*colocar contador*/
  counter-increment: li;
  border-bottom: solid 1px #EEE;
  cursor: pointer;
  transition: all ease 0.5s;
}

.better-pokemons li:hover {
  background-color: #e7e7e7;
}

.better-pokemons li:last-child {
  border-bottom: none;
}

.better-pokemons li::before {
  /*colocar contador*/
  content: counter(li) "º";
  font-size: 36px;
  font-weight: bold;
  line-height: 0;
}

.better-pokemons img {
  width: 40px;
  height: 35px;
  margin: 0 8px;
}

.better-pokemons span {
  font-size: 20px;
  font-weight: 300;
}

footer {
  grid-area: footer;
  background-color: black;
  padding: 0 125px;
}
footer .part-up {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
footer .rodape-left {
  display: flex;
  gap: 70px;
}
footer .rodape-left ul {
  color: white;
  padding-left: 15px;
}
footer .rodape-left a:hover {
  color: white;
}
footer .rodape-left a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}
footer .part-up .better-pokemons {
  margin: 10px;
  color: white;
  width: 100%;
}
footer .part-up .better-pokemons li {
  transition: all ease 1s;
}
footer .part-up .better-pokemons li:hover {
  background-color: white;
  color: black;
}
footer .part-down p {
  color: gray;
  font-size: 14px;
  text-align: center;
  margin: 40px;
}

@media (max-width: 640px) {
  .grid {
    display: block;
    width: 100%;
  }

  header {
    /*Alinhamento*/
  }
  header .cabecalho {
    padding: 0 20px;
    height: 100px;
  }
  header .top-left {
    display: block;
  }
  header .top-left form {
    margin-top: 5px;
  }
  header .top-left input {
    width: 450px;
  }
  header .top-right {
    position: absolute;
    right: 15px;
    top: 10px;
  }
  header .navegacao {
    padding: 0 10px;
  }

  .master {
    margin: 0;
  }

  aside {
    margin: 0;
  }
  aside .cadastro {
    font-size: 20px;
  }
  aside .image-aside h2 {
    font-size: 60px;
  }
  aside .image-aside p {
    font-size: 12px;
  }

  footer {
    padding: 20px;
  }
  footer .rodape-left {
    display: block;
  }
  footer .rodape-left ul {
    padding-left: 30px;
  }
  footer .rodape-left li {
    padding-top: 5px;
  }
  footer .rodape-left a {
    font-size: 16px;
  }
  footer .part-up {
    display: block;
  }
}
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica Neue LT Pro", Helvetica, Arial, sans-serif;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 34% 34% 32%;
  background-color: #e7e7e7;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header header" "container container sidenav" "footer footer footer";
}

/*# sourceMappingURL=estilo.css.map */
