body.carrinho-aberto{
    .carrinho{
        right: 0;
        box-shadow: -4px 5px 12px 2px rgba(0, 0, 0, 0.62);
    }

}

.carrinho {
    display: flex;
    position: fixed;
    background-color: white;
    padding: 5px 20px;
    width: 400px;
    height: 100vh; // Para colocar o comprimento 100%
    justify-content: space-between;
    align-items: flex-start;
    transition: all ease-in 1s;
    border-radius: 10px 0 0 10px;
    border: solid 1px #CCC;
    right: -400px;
    top: 0;
}

    h3{
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
    } 
